* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.header-scroll {
  opacity: 0.35;
  position: fixed !important;
}

.header-scroll:hover {
  opacity: 1;
}

.body-overflow {
  overflow: hidden;
}
